<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Temp Title</title>
</head>
<body>
  <nav>
    <a href="/authors/new">ADD AUTHOR</a> | 
    <a href="/books/new">ADD BOOK</a> | 
    <a href="/authors">ALL AUTHORS</a> | 
    <a href="/books">ALL BOOKS</a> |
    <% if (user) { %>
      <a href="/logout">LOGOUT</a>
    <% } else { %>
      <a href="/auth/google">LOGIN</a>
    <% } %>
  </nav>
  <main>
    <h1>Temp Header</h1>