<%- include('../partials/headerPartial.ejs') %> 


<form action="/authors" method="POST">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="submit" value="Add Author">
</form>


<%- include('../partials/footerPartial.ejs') %> 