<%- include('../partials/headerPartial.ejs') %> 

<h3><%= authorReferenceForEJS.name %></h3>

<a href="/authors/<%= authorReferenceForEJS._id %>/edit">Edit Author</a>

<%- include('../partials/footerPartial.ejs') %> 